<!-- Sign new (new session) page view -->
<div class="container">

  <div class="col-11 col-md-6 mx-auto">
    <div class="bg-white rounded-3 p-3 shadow mt-3">

      <h2>Edit <%= resource_name.to_s.humanize %></h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :email, required: true, autofocus: true %>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>

          <%= f.input :password,
                      hint: "(Leave it blank if you don't want to change it)",
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :current_password,
                      hint: "We need your current password to confirm your changes",
                      required: true,
                      input_html: { autocomplete: "current-password" } %>
                      
          <!-- Display current user avatar image (if any) and allow replacement -->
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, height: 100, width: 100, crop: :fill, class: "rounded-3" %>
          <% else %>
            <div class="d-flex rounded align-items-center justify-content-center" style="background-image: url(<%= image_url 'default-user-avatar.jpg' %>); 
                height: 100px; width: 100px; background-size: contain;">
            </div>
            <small><em>(No image set)</em></small>
          <% end %>

          <%= f.input :avatar, required: :false, as: :file, label: "Upload profile image (optional)" %>
          <!-- end code section -->

        </div>

        <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn btn-primary text-white" %>
        </div>
      <% end %>

      <h3>Cancel my account</h3>

      <div>
        Unhappy? 
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" },
          method: :delete, class: "btn btn-danger rounded-3 my-3 text-white" %>
      </div>

      <%= link_to "« Back", :back, class: "text-decoration-none" %>

    </div>      
  </div>
</div>
