<div class="card col-5 m-1" id="<%= dom_id(task) %>">

    <div class="card-body">
        <!-- show task title & indicate if an associated outline exists -->
        <div class="mb-2">
            <h4 class="card-title d-flex align-center"><%= task.title %></h4>
            <%= raw('<span class="badge bg-success text-light"><i class="fa-solid fa-check"></i> Outline</span>') if !task.outline.contents.empty? %>
            <span class="badge bg-primary">ID: <%= task.id %></span>
        </div>
        <p class="mb-0"><strong>Assignment notes:</strong>
        
        <% if task.notes.present? %>
            <%= "#{task.notes.count} saved" %>
        <% else %>
            <p><em>(No notes yet)</em></p>
        <% end %>
        </p>
        <p class="mb-1"><strong>Synopsis:</strong></p>
        <p class="text-muted fst-italic"><%= truncate(task.synopsis, length: 90) %></p>
        <hr>
        <span class="d-flex justify-content-between">
            <span>
                <%= link_to raw('<i class="fa-regular fa-eye"></i> Details'), task_path(task.id), class: "text-decoration-none me-2" %>
                <%= link_to raw('<i class="fa-solid fa-pencil"></i> Edit task'), edit_task_path(task.id), 
                    class: "text-decoration-none" 
                %>
            </span>
            <%= link_to raw('<i class="fa-regular fa-trash-can"></i> Delete'), task_path(task), data: {turbo_method: :delete, turbo_confirm: "Delete tasK?"},
                class: "text-decoration-none" %>
        </span>
    </div>

</div>