<!-- "How to" page view, explaining basic use instructions to users (no login required) -->
<div class="container">

    <div class="bg-white rounded-3 mt-3 p-3">
        <div class="d-flex justify-content-between align-items-center">
            <%# Show the current count for user's tasks that exist %>
                <h1>My writing tasks (<%= @tasks.count %>)</h1>

                <a type="button" href="<%= url_for(new_task_path) %>" class="btn btn-primary btn-lg"><i class="fa-solid fa-plus"> </i>Add new task</a>

        </div>

        <%# Iterate over tasks already created and display as cards to user %>
        <div class="row row-cols-1 row-cols-md-2 g-3 mt-3">
            
            <% @tasks.each do |task| %>

            <div class="col">
                        <!-- show task title & indicate if an associated outline exists -->
                <div class="row border p-2 m-1 bg-light position-relative" style="height-min: 340px;">
                    <div class="mb-2">
                        <h4 class="d-flex align-center"><%= task.title %></h4>
                        <%= raw('<span class="badge bg-success text-light"><i class="fa-solid fa-check"></i> Outline</span>') if !task.outline.contents.empty? %>
                        <!-- <% if Rails.env.development? %>
                            <span class="badge bg-primary">ID: <%= task.id %></span>
                        <% end %>
                        -->
                    <p class="mb-0"><strong>Assignment notes:</strong>
                    <% if task.notes.present? %>
                        <%= "#{task.notes.count} saved" %>
                    <% else %>
                        <em>(No notes yet)</em>
                    <% end %>
                    </p>
                    <p class="mb-1"><strong>Synopsis:</strong></p>
                    <p class="text-muted fst-italic"><%= truncate(task.synopsis, length: 90) %></p>

                    </div>

                    <div class="row align-self-end justify-content-between border-top border-2 m-1 p-0 pt-2">
                        <div class="col-lg-4">
                            <%= link_to raw('<i class="fa-regular fa-eye fa-sm"></i> Details'), task_path(task.id), class: "text-decoration-none" %>
                        </div>
                        <div class="col-lg-4">
                            <%= link_to raw('<i class="fa-solid fa-pencil  fa-sm"></i> Edit task'), edit_task_path(task.id), 
                                class: "text-decoration-none" 
                            %>
                        </div>
                        <div class="col-lg-4">
                        <%= link_to raw('<i class="fa-regular fa-trash-can  fa-sm"></i> Delete'), task_path(task), data: {turbo_method: :delete, turbo_confirm: "Delete tasK?"},
                            class: "text-decoration-none" %>
                        </div>
                    </div>

                </div>

            </div>
            <% end %>
        </div>
    </div>

</div>