<div class="container">
    
    <div class="col-10 bg-white rounded-3 mt-3 p-3">
        <h1 class="mt-3">Writing task details</h1>
        <hr>
        <h3>Title:</h3>
        <h4 class="mb-3"><%= @task.title %></h4>
        <h3>Synopsis:</h3>
        <p class="mb-3 bg-primary text-light p-2 rounded-3"><%= @task.synopsis %></p>
        <h3>Outline:</h3>
        <p class="mb-3" >
            <% if @task.outline.present? %>
                <%= simple_format(@task.outline.contents) %>
            <% else %>
                (No outline generated)
            <% end %>
        </p>
        <h3>Notes:</h3>
            <% if @task.notes.present? %>
                <% @task.notes.each do |note| %>
                    <p class="mb-3 bg-secondary text-dark fst-italic p-2 rounded-3">
                        <%= note.text %>
                    </p>
                <% end %>
            <% else %>
                <p class="fst-italic">(No notes addded yet)</p>
            <% end %>
        <hr>
        
        <%= simple_form_for [@task, @note] do |note| %>
            <%= note.input :text, label: "Add a note:", label_html: { class: "fw-bold"} %>
            <%= note.submit "Add note", class: "btn btn-sm btn-success text-white rounded-3" %>
        <% end %>

        <div class="d-flex justify-content-between mt-3">
            <%= link_to raw('<i class="fa-solid fa-arrow-left"></i> All tasks'), tasks_path, 
                class: "text-decoration-none" 
            %>
            <%= link_to raw('<i class="fa-solid fa-pencil"></i> Edit task'), edit_task_path(@task), 
                class: "text-decoration-none" 
            %>      
        </div>        
    </div>

</div>

